<div class="album-list clearfix grid">


    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Elodie et Stephane',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/elodie%20et%20stephane',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/elodie%20et%20stephane/logo.png'
    }) %>

    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Sarah et Aurelien',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/sarah%20et%20aurelien',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/sarah%20et%20aurelien/logo.jpg'
    }) %>

    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Elisa et Pierre-Marie',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/elisa%20et%20pierre%20marie',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/elisa%20et%20pierre%20marie/logo.png'
    }) %>

    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Anne et Michael',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/Anne%20et%20Michael',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/Anne%20et%20Michael/logo.jpg'
    }) %>

    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Emilie et Jonathan',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/emilie%20et%20jonathan',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/emilie%20et%20jonathan/logo.jpg'
    }) %>

    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Sarah et Matthieu',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/sarah%20et%20matthieu',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/sarah%20et%20matthieu/logo.jpg'
    }) %>

    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Daphne et Edouard',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/Daphne%20et%20Edouard',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/Daphne%20et%20Edouard/logo.jpg'
    }) %>

    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Helene et Romain',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/helene%20et%20romain',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/helene%20et%20romain/logo.jpg'
    }) %>

    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Sarah et Thomas',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/sarah%20et%20thomas',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/sarah%20et%20thomas/logo.jpg'
    }) %>

    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Celine et Laurent',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/Celine%20et%20Laurent',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/Celine%20et%20Laurent/logo.jpg'
    }) %>

    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Sarah et Damien',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/Sarah%20et%20Damien',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/Sarah%20et%20Damien/logo.jpg'
    }) %>

    <%- include(contentPath+'components/album/album.list.ejs', {
        title: 'Stephanie et Yohann',
        albumURL: 'http://anne-letournel.com/album/storage/app/media/mariages/stephanie%20et%20yohann',
        albumLogo: 'http://anne-letournel.com/storage/app/media/mariages/stephanie%20et%20yohann/logo.jpg'
    }) %>

</div>


