<li class="post list">

    <a class="post-full-link" href="<%-url-%>">
        <img class="post-picture" src="<%-image-%>" alt="<%-imageAlt-%>">
        <h3 class="post-title" ><%-title-%></h3>
    </a>

    <p class="post-info">
        Posted in <a href="<%-categoryURL-%>"><%-category-%></a> on <%-date-%>
    </p>

    <p class="post-description">
        <%-excerpt-%>
    </p>
    
    <a class="post-full-link" href="<%-url-%>">
        Voir plus <span class="fa fa-chevron-right"></span>
    </a>
</li>
