<div class="post" >

    <img class="post-picture" src="<%-image-%>" alt="<%-imageAlt-%>">

    <div class="post-content">
        <%-content-%>
    </div>

    <p class="post-info">
        Posted in <a href="<%-categoryURL-%>"><%-category-%></a> on <%-date-%>
    </p>

</div>